node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage
.git
.github
.env*
*.log
docker-compose*.yml
README.md
LICENSE
docs
scripts
tests
prisma/migrations
prisma/generated
prod-data
.cache
**/.next
**/*.tsbuildinfo
