# EditorConfig – https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown – allow trailing whitespace for line breaks
[*.md]
trim_trailing_whitespace = false

# Makefiles require tabs
[Makefile]
indent_style = tab

# YAML
[*.{yaml,yml}]
indent_size = 2

# JSON
[*.json]
indent_size = 2
